* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.line-pages{
  height: .625rem;
  background-color: #2994B1;
  border-color: #2994B1;
}


.header-containe{
  width: 100%;
  height: 71px;
  background-color: #122C3A;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 4.125rem;
  padding: .9375rem .625rem;
}
.header-title {
  width: 100%;
  display: flex;
  justify-content: center;
}


.nav-bar{
  width: 100%;
  height: 46px;
  background-color: #24627A;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.nav-bar li a{
  color: black;
  text-decoration: none;
}
.img-nav{
  align-self: flex-end;
  align-items: end;
}


.img-nav, .redes-footer img{
  width: 1.25rem;
}


.img-redes,
.img-logo {
  width: 1.875rem;
}


footer{
  width: 100%;
  background-color: #234556;
  padding: .625rem 0rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.redes-container{
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.redes-footer{
  display: flex;
  justify-content: center;
}
.redes-footer li{
  list-style: none;
  margin-left: .625rem;
}
.contacto-container{
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto-container li {
  list-style: none;
}
.suscripcion-container{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boton-container{
  width: 100%;
  height: 2.4375rem;
  border: 1px solid #D7F1F6;
  border-radius: 1.25rem;
  background-color: #D7F1F6;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5.625rem;
}
.boton-container p{
  color: black;
  font-size: 14px;
}
.boton-container button{
  width: 25%;
  height: 35px;
  margin-left: 40px;
  border-radius: 1.25rem;
  color: white;
  border: none;
  background-color: red;
}
